<mat-card class="card">
  <form class="example-form">
    <mat-form-field class="types">
      <mat-label>Answer type</mat-label>
      <mat-select [(value)]="control.type" (valueChange)="onValueChange()">
        <mat-option *ngFor="let type of types" [value]="type.value" >
          {{type.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <ng-template appAnswerHost>
  </ng-template>
  <div *ngIf="selectedAnswerType">
    <mat-slide-toggle>Required</mat-slide-toggle>
  </div>
</mat-card>
