<mat-form-field class="example-full-width" [formGroup]="formGroup">
  <input matInput [placeholder]="field.title"
         [type]="field.inputType ? field.inputType : 'text'"
         [formControlName]="field.control">
  <mat-error *ngIf="formGroup.controls[field.control].hasError('email') && !formGroup.controls[field.control].hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="formGroup.controls[field.control].hasError('required')">
    Is <strong>required</strong> field
  </mat-error>
  <mat-error *ngIf="formGroup.controls[field.control].hasError('minlength') && !formGroup.controls[field.control].hasError('required')">
    min Length
  </mat-error>
  <mat-error *ngIf="formGroup.controls[field.control].hasError('maxlength') && !formGroup.controls[field.control].hasError('required')">
    max Length
  </mat-error>
  <mat-error *ngIf="formGroup.controls[field.control].hasError('max') && !formGroup.controls[field.control].hasError('required')">
    max
  </mat-error>
  <mat-error *ngIf="formGroup.controls[field.control].hasError('min') && !formGroup.controls[field.control].hasError('required')">
    max
  </mat-error>
</mat-form-field>
