<mat-form-field class="example-full-width" [formGroup]="group">
  <input matInput [placeholder]="control.title"
         [type]="control.inputType ? control.inputType : 'text'"
         [formControlName]="control.control"
  >
  <mat-error *ngIf="group.controls[control.control].hasError('email') && !group.controls[control.control].hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="group.controls[control.control].hasError('required')">
    Is <strong>required</strong> field
  </mat-error>
  <mat-error *ngIf="group.controls[control.control].hasError('minlength') && !group.controls[control.control].hasError('required')">
    min Length
  </mat-error>
  <mat-error *ngIf="group.controls[control.control].hasError('maxlength') && !group.controls[control.control].hasError('required')">
    max Length
  </mat-error>
  <mat-error *ngIf="group.controls[control.control].hasError('max') && !group.controls[control.control].hasError('required')">
    max
  </mat-error>
  <mat-error *ngIf="group.controls[control.control].hasError('min') && !group.controls[control.control].hasError('required')">
    max
  </mat-error>
</mat-form-field>
