<button mat-button (click)="addFormField()">
  Add option
</button>

<form [formGroup]="bioSection">
  <div *ngFor="let item of formConfig; let i = index">
    <app-dynamic-control [control]="item" [group]="bioSection">
    </app-dynamic-control>

    <button mat-button (click)="openDialog(item)">
      Edit
    </button>
    <button mat-button (click)="onDeleteItem(i)">
      Delete
    </button>
  </div>

  <button type="submit" [disabled]="!bioSection.valid" (click)="callingFunction()">
    Submit
  </button>
  <p>
    Real-time data: {{ bioSection.value | json }}
  </p>
  <p>
    Your form status is : {{ bioSection.status }}
  </p>
</form>

<button mat-button (click)="addFormFieldBuilder()">
  Add option
</button>

