<div *ngFor="let formField of formFields">
  <app-form-item></app-form-item>
</div>

<button mat-button (click)="addFormField()">
  Add option
</button>


<form [formGroup]="bioSection">
  <ng-container *ngIf="bioSection">
    <div *ngFor="let item of formConfig">
      <mat-form-field class="example-full-width">
        <input matInput [placeholder]="item.title" value="" formControlName="{{item.control}}">
      </mat-form-field>
      <button mat-button (click)="openDialog(item)">
        Edit
      </button>
    </div>
  </ng-container>


  <button type="submit" [disabled]="!bioSection.valid" (click)="callingFunction()">
    Submit Application
  </button>
  <p>
    Real-time data: {{ bioSection.value | json }}
  </p>
  <p>
    Your form status is : {{ bioSection.status }}
  </p>
</form>

<button mat-button (click)="addFormFieldBuilder()">
  Add option
</button>

