<h1 mat-dialog-title>Edit {{data.title}} field</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Control Name" [value]="data.control" formControlName="control">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" [value]="data.title" formControlName="title">
    </mat-form-field>

    <ng-container formGroupName="validation">
      <mat-checkbox formControlName="required" [value]="data.validation.required">
        Required
      </mat-checkbox>
    </ng-container>
  </form>

  <ng-container [ngSwitch]="data.type">
    <ng-container *ngSwitchCase="'short'">
      <app-short-answer-edit
        [field]="data"
        [formGroup]="editForm">
      </app-short-answer-edit>
    </ng-container>

    <ng-container *ngSwitchCase="'dropdown'">
      <app-dropdown-edit
        [field]="data"
        [formGroup]="editForm">
      </app-dropdown-edit>
    </ng-container>
    <ng-container *ngSwitchCase="'multiple-choices'">
      <app-dropdown-edit
        [field]="data"
        [formGroup]="editForm">
      </app-dropdown-edit>
    </ng-container>
    <ng-container *ngSwitchCase="'checkboxes'">
      <app-dropdown-edit
        [field]="data"
        [formGroup]="editForm">
      </app-dropdown-edit>
    </ng-container>
  </ng-container>


  </div>

<div mat-dialog-actions>
  <button mat-button (click)="cancel()">
    Cancel
  </button>
  <button mat-button
    (click)="onApply()"
  >
    Ok
  </button>
</div>
